n8n/workflows/04-eligibility-decision-handler.json
{
  "name": "COIN Education — 4 — Eligibility Decision Handler",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "COIN Education" }
  ],
  "nodes": [
    {
      "name": "Webhook — Eligibility Updated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "coin-eligibility-update",
      "parameters": {
        "httpMethod": "POST",
        "path": "coin-eligibility-update",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "name": "Parse Eligibility Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "// Parse Supabase webhook or portal POST\n// Supabase webhooks send: { type, table, record, old_record }\nconst body = $input.first().json.body || $input.first().json;\n\nlet prospect;\nif (body.record) {\n  // Supabase webhook format\n  prospect = body.record;\n} else {\n  // Direct POST from portal\n  prospect = body;\n}\n\nconst status = prospect.eligibility_status;\nif (!status || !['yes', 'no', 'maybe'].includes(status)) {\n  throw new Error('Invalid or missing eligibility_status: ' + status);\n}\n\nreturn [{\n  json: {\n    prospect_id: prospect.id,\n    first_name: prospect.first_name,\n    last_name: prospect.last_name,\n    email: prospect.email,\n    phone: prospect.phone,\n    program_interest: prospect.program_interest,\n    eligibility_status: status,\n    full_name: `${prospect.first_name} ${prospect.last_name}`\n  }\n}];"
      }
    },
    {
      "name": "Switch — Eligibility Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [710, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.eligibility_status }}",
        "rules": {
          "rules": [
            {
              "value2": "yes",
              "output": 0
            },
            {
              "value2": "no",
              "output": 1
            },
            {
              "value2": "maybe",
              "output": 2
            }
          ]
        }
      }
    },
    {
      "name": "Generate Application Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 100],
      "parameters": {
        "jsCode": "// Generate unique application link for eligible prospect\nconst prospectId = $json.prospect_id;\nconst applicationUrl = `https://portal.coineducation.com/application?prospect=${prospectId}`;\n\nreturn [{\n  json: {\n    ...$json,\n    application_url: applicationUrl\n  }\n}];"
      }
    },
    {
      "name": "Send Application Email — YES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "={{ $env.BREVO_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  sender: {\n    name: 'COIN Education',\n    email: 'admissions@coineducation.com'\n  },\n  to: [{\n    email: $json.email,\n    name: $json.first_name\n  }],\n  subject: 'You are eligible! Complete your COIN Education application',\n  htmlContent: `<!DOCTYPE html>\n<html>\n<head><style>\n  body { font-family: Arial, sans-serif; color: #1A1A1A; line-height: 1.6; }\n  .header { background: linear-gradient(135deg, #FFCE38, #FAA62E, #F26822); padding: 30px; text-align: center; }\n  .header h1 { color: white; margin: 0; }\n  .content { padding: 30px; max-width: 600px; margin: 0 auto; }\n  .cta { display: inline-block; background: #28A745; color: white; padding: 14px 35px; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: bold; margin: 20px 0; }\n  .footer { background: #0D0D0D; color: #999; padding: 20px; text-align: center; font-size: 12px; }\n</style></head>\n<body>\n  <div class=\"header\"><h1>🎉 Congratulations!</h1></div>\n  <div class=\"content\">\n    <p>Dear ${$json.first_name},</p>\n    <p>Great news! After our discovery call, we're pleased to confirm that you are <strong>eligible</strong> for the <strong>${$json.program_interest}</strong> program at COIN Education.</p>\n    <p>The next step is to complete your full application. This includes:</p>\n    <ul>\n      <li>Personal information and demographics</li>\n      <li>Identity verification (government-issued ID)</li>\n      <li>Program selection confirmation</li>\n    </ul>\n    <p>Please click the button below to begin your application:</p>\n    <a href=\"${$json.application_url}\" class=\"cta\">Start Your Application →</a>\n    <p>If you have any questions, don't hesitate to reach out at admissions@coineducation.com.</p>\n    <p>Warm regards,<br><strong>COIN Education Admissions Team</strong></p>\n  </div>\n  <div class=\"footer\"><p>COIN Education Services Center™ | Atlanta, GA</p></div>\n</body></html>`\n}) }}"
      }
    },
    {
      "name": "Send Application SMS — YES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "={{ $env.TWILIO_PHONE_NUMBER }}" },
            { "name": "To", "value": "={{ $json.phone }}" },
            { "name": "Body", "value": "=Congratulations {{ $json.first_name }}! You're eligible for {{ $json.program_interest }} at COIN Education! Complete your application here: {{ $json.application_url }}" }
          ]
        }
      }
    },
    {
      "name": "Log — NO Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "// Prospect marked as NOT eligible\n// Record remains open for remarketing\nconsole.log(`Prospect ${$json.full_name} (${$json.email}) marked as NOT eligible`);\n\nreturn [{\n  json: {\n    ...$json,\n    action: 'no_eligibility',\n    message: `${$json.full_name} marked as not eligible. Remarketing eligible.`\n  }\n}];"
      }
    },
    {
      "name": "Send Telegram — MAYBE Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 500],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $env.TELEGRAM_CHAT_ID,\n  parse_mode: 'HTML',\n  text: `🟡 <b>Follow-up Needed — MAYBE Eligibility</b>\\n\\n` +\n    `<b>Name:</b> ${$json.full_name}\\n` +\n    `<b>Email:</b> ${$json.email}\\n` +\n    `<b>Phone:</b> ${$json.phone || 'Not provided'}\\n` +\n    `<b>Program:</b> ${$json.program_interest}\\n\\n` +\n    `<i>This prospect requires additional follow-up before a final eligibility decision.</i>`\n}) }}"
      }
    }
  ],
  "connections": {
    "Webhook — Eligibility Updated": {
      "main": [
        [{ "node": "Parse Eligibility Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Eligibility Data": {
      "main": [
        [{ "node": "Switch — Eligibility Status", "type": "main", "index": 0 }]
      ]
    },
    "Switch — Eligibility Status": {
      "main": [
        [{ "node": "Generate Application Link", "type": "main", "index": 0 }],
        [{ "node": "Log — NO Decision", "type": "main", "index": 0 }],
        [{ "node": "Send Telegram — MAYBE Follow-up", "type": "main", "index": 0 }]
      ]
    },
    "Generate Application Link": {
      "main": [
        [
          { "node": "Send Application Email — YES", "type": "main", "index": 0 },
          { "node": "Send Application SMS — YES", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {}
}
