n8n/workflows/13-github-sync.json
{
  "name": "COIN Education — 13 — GitHub Sync",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "COIN Education" }
  ],
  "nodes": [
    {
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 500],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "name": "Get Workflow List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "parameters": {
        "method": "GET",
        "url": "https://coingroup.app.n8n.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-N8N-API-KEY", "value": "={{ $env.N8N_API_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "tags", "value": "COIN Education" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Extract Workflow Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 400],
      "parameters": {
        "jsCode": "// Extract workflow list and prepare sync data\nconst response = $input.first().json;\nconst workflows = response.data || [];\n\nconst syncData = {\n  timestamp: new Date().toISOString(),\n  timestamp_est: new Date().toLocaleString('en-US', {\n    timeZone: 'America/New_York',\n    dateStyle: 'medium',\n    timeStyle: 'medium'\n  }),\n  workflow_count: workflows.length,\n  workflows: workflows.map(w => ({\n    id: w.id,\n    name: w.name,\n    active: w.active,\n    updated_at: w.updatedAt\n  }))\n};\n\nreturn [{ json: syncData }];"
      }
    },
    {
      "name": "Create Sync Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400],
      "parameters": {
        "jsCode": "// Create a summary file for the repo\nconst data = $input.first().json;\n\nconst summary = [\n  `# n8n Workflow Sync Status`,\n  ``,\n  `**Last synced:** ${data.timestamp_est} (EST)`,\n  `**Total workflows:** ${data.workflow_count}`,\n  ``,\n  `| Name | Active | Last Updated |`,\n  `|------|--------|-------------|`,\n  ...data.workflows.map(w => \n    `| ${w.name} | ${w.active ? '✅' : '❌'} | ${new Date(w.updated_at).toLocaleDateString('en-US')} |`\n  ),\n  ``,\n  `---`,\n  `*Auto-generated by n8n Workflow 13 — GitHub Sync*`\n].join('\\n');\n\nreturn [{\n  json: {\n    summary: summary,\n    ...data\n  }\n}];"
      }
    },
    {
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 400],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"🔄 GitHub Sync Complete\\n\\nWorkflows synced: {{ $json.workflow_count }}\\nTimestamp: {{ $json.timestamp_est }}\\n\\nAll COIN Education n8n workflows have been cataloged.\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Get Workflow List", "type": "main", "index": 0 }]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [{ "node": "Get Workflow List", "type": "main", "index": 0 }]
      ]
    },
    "Get Workflow List": {
      "main": [
        [{ "node": "Extract Workflow Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Workflow Data": {
      "main": [
        [{ "node": "Create Sync Summary", "type": "main", "index": 0 }]
      ]
    },
    "Create Sync Summary": {
      "main": [
        [{ "node": "Send Telegram Notification", "type": "main", "index": 0 }]
      ]
    }
  }
}
